{% extends "admin/base_site.html" %}

{% block title %}HELLO THERE{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">CUSTOM ADMIN SITE</a></h1>
{% endblock %}

{% block extrastyle %}{{ block.super }}
<style>
    html[data-theme="light"],
    :root {
        --message-info-bg: #cfcfd769;
        /* Blue background for info messages */
        --message-info-text: #100f0f;
        /* White text for better contrast */
    }
        
    .messagelist .info {
        background-color: var(--message-info-bg);
        color: var(--message-info-text);
    }

    .ul.messagelist li.info {
        background: var(--message-info-bg) url(../img/icon-no.svg) 40px 12px no-repeat;
        background-size: 16px auto;
    }

    .messagelist li.custom-info {
        background-color: #17a2b8;
        color: #ffffff;
    }
</style>
{% endblock %}